{% block upper_scripts %}
<!--loading upper scripts-->
{% endblock upper_scripts %}

{% block links_and_common_content %}
<!-- Default content can go here -->

{% endblock links_and_common_content %}



{% block main_content %}
<!-- Main Content area start-->
<!--loading main content-->
<!-- main content area end-->
{% endblock main_content %}

{% block messages %}
{%include "extended_base_tamplates/message_template.html"%}
{% endblock %}

{% block footer %}
<!--loading the footer tamplate (footer.html)-->
{% endblock footer%}

{% block bottom_script %}
<!--loading the bottom script tamplate (footer.html)-->
{% endblock bottom_script %}