{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>G10 Blockchain Freight</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- load for modal -->
  <link rel="stylesheet" href="{% static 'css/modals.css' %}">
  <!-- end load modal -->
  <!-- favicon
		============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <!-- Google Fonts
		============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <!-- adminpro icon CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/adminpro-custon-icon.css' %}">
  <!-- meanmenu icon CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
  <!-- mCustomScrollbar CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
  <!-- animate CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <!-- data-table CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-table.css' %}">
  <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-editable.css' %}">
  <!-- normalize CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <!-- charts C3 CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
  <!-- forms CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/form/all-type-forms.css' %}">
  <!-- style CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <!-- responsive CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <!-- modernizr JS
		============================================ -->
  <link rel="stylesheet" href="{% static 'css/more_form_styles/more_form_styles.css'%}">
  <!-- ========================================== -->
  <!-- datapicker CSS============================================ -->
  <link rel="stylesheet" href="{% static 'css/datapicker/datepicker3.css' %}">

  <!-- ========================================== -->

  <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"> </script>

  <!-- =================================== -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Dropzone CSS
  <!-- Dropzone and minimal styling -->
  <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
  <style>
    .dz-remove {
      color: red;
      cursor: pointer;
    }
  </style>

</head>