<style>
    /* Blinking Effect */
    .blink {
        animation: blink 1s infinite;
        color: red;
        font-weight: bold;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
</style>
<!-- Static Table Start -->

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h4 class="text-warning">Pending <span class="table-project-n">Bookings</span></h4>
                            <h4 class="text-muted"><span class="blink">👉</span> NB: Initial deposit has been paid</h4>

                            <!-- load Queries to be worked on -->
                            <div class="view-mail-action view-mail-ov-d-n">

                                <a class="compose-draft-bt" href="javascript:window.print()"><i class="fa fa-print"></i>
                                    Print</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                data-toolbar="#toolbar">
                                <thead>
                                    <tr>

                                        <th>Receiver Company Name</th>
                                        <th>Date and Time Received</th>
                                        <th>Quote Reference Number</th>
                                        <th>Freight Type</th>
                                        <th>Booking Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in bookings %}
                                    <tr>
                                        <td>{{ item.receiver_company_name }}</td>
                                        <td>{{ item.date_received }} &nbsp;{{ item.time_received }}</td>
                                        <td>{{ item.quote_reference_number }}</td>
                                        <td>{{ item.service_type }}</td>
                                        <td>
                                            {% if item.request_status == 'Approved Quote' %}
                                            <span class="text-success">✅{{ item.request_status }}</span>
                                            {% elif item.request_status == 'Rejected Quote' %}
                                            <span class="text-danger">❌{{ item.request_status }}</span>
                                            {% elif item.request_status == 'Pending' %}
                                            <span class="text-warning">⚠️ Pending Approval: Please Upload your ID</span>
                                            {% else %}
                                            <span class="text-warning">{{ item.request_status }}</span>
                                            {% endif %}
                                        </td>
                                        <!-- <td>

                                            {% if book_cases_access %}



                                            {% else %}
                                            {% if item.request_id %}
                                            <a href="{% url 'view_booking' item.request_id %}" class="btn btn-primary">
                                                View Details
                                            </a>
                                            {% else %}
                                            <span class="btn btn-secondary disabled">No Request ID</span>
                                            {% endif %}
                                            {% endif %}
                                            <!--<a href="{% url 'quoting' %}" class="btn btn-danger">Delete</a>-->
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">
                                            <font color='red'>No freight records found.</font>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Static Table End -->