{% load static %}
<!-- loads user groups -->
{% load group_tags %}


{% block auto_css %}
<!-- Address Auto Increment Start -->
<link href="{% static 'auto_completion/address_auto_completion.css' %}" rel="stylesheet">
<!-- Address Auto Increment End -->
<!-- Table auto addition -->
<link href="{% static 'auto_completion/table_auto_addition.css' %}" rel="stylesheet">
{% endblock auto_css %} <!-- Breadcome End-->
<style>
    input[type="text"] {
        width: 100%;
    }

    .touchspin1,
    .touchspin2,
    .touchspin3,
    .touchspin4 {
        width: 100%;
        /* full width of parent */
        height: 45px;
        /* taller input */
        font-size: 16px;
        /* bigger text */
        padding: 10px;
        /* more padding inside */
    }

    .autocomplete-wrapper {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        /* wrapper takes full width of parent */
    }

    .autocomplete-results {
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        background: white;
        z-index: 1000;
        width: 100%;
        /* full width */
        box-sizing: border-box;
        /* include padding/border inside width */
    }

    .autocomplete-item {
        padding: 10px;
        cursor: pointer;
    }

    .autocomplete-item:hover {
        background-color: #f0f0f0;
    }

    input[type="text"] {
        width: 100%;
        /* full width */
        padding: 8px;
        box-sizing: border-box;
        /* keep padding inside width */
    }

    .autocomplete-suggestions {
        border: none;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        background: antiquewhite;
        z-index: 9999;
        width: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        margin-top: 2px;
        /* space from input box */
        border-radius: 4px;
        /* rounded edges */
    }

    .suggestion {
        padding: 5px;
        cursor: pointer;
    }

    .suggestion:hover {
        background-color: #eee;
    }

    .highlight {
        background-color: yellow;
        font-weight: bold;
    }
</style>
<!------start form-->
<form method="POST" action="{% url 'convert_booking_to_shipment' request_id=request_id %}">
    {% csrf_token %}
    <!-- Basic Form Start -->
    <div class="advanced-form-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-info" align="center">Freight Booking</h1>
                <h4 align="center"><span style="color: #ff00e6">{{ service_type }}</span></h4>
                <div class="col-lg-6">
                    <div class="sparkline10-list shadow-reset mg-t-30">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h4>Shipper's / Exporter Information</h4>
                                <div class="sparkline10-outline-icon">
                                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline10-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                            <input type="hidden" name="request_id"
                                                value="{{ customer_details.request_id }}">
                                            <input type="hidden" name="service_type" value="{{ service_type }}">
                                            <label class="form-control-label">Company Name </label>
                                            <input type="text" class="form-control" value="{{shipper_company_name}}"
                                                name="shipper_company_name" style="background-color: antiquewhite;"
                                                readonly>
                                            <label class="form-control-label">Shipper Name </label>
                                            <input type="text" class="form-control" name="shipper_fullname"
                                                value="{{shipper_fullname }}" placeholder="Shipper Full Name"
                                                data-validate="required,min(3),regex(^[A-Za-z\s]+$,Only letters allowed)"
                                                style="background-color: antiquewhite;" readonly>
                                            <label class="form-control-label">Shipper Phone Number </label>
                                            <input type="text" class="form-control" name="shipper_telephone_number"
                                                value="{{shipper_phone_number }}" placeholder="Telephone Name"
                                                data-validate="required,min(3),regex(^[0-9]+$,Only numbers allowed)"
                                                style="background-color: antiquewhite;" readonly>
                                            <label class="form-control-label">Shipper Email </label>
                                            <input type="text" class="form-control" name="shipper_email"
                                                value="{{shipper_email }}" placeholder="Shipper Name"
                                                data-validate="required,email" style="background-color: antiquewhite;"
                                                readonly>
                                            <label class="form-control-label">Shipment Type </label>
                                            <input type="text" class="form-control" name="shipment_type"
                                                value="{{ service_type }}" style="background-color: antiquewhite;"
                                                readonly>
                                            <label class="form-control-label">Shipper Export Number
                                            </label>
                                            <input type="text" class="form-control" name="shipper_export_number"
                                                value="{{ shipper_export_number }}"
                                                style="background-color: antiquewhite;" readonly>
                                            <label class="form-control-label">Shipper Address</label>
                                            <input type="text" id="address1" class="form-control" name="shipper_address"
                                                value="{{ shipper_address }}" autocomplete="off"
                                                data-validate="required,min(4)" style="background-color: antiquewhite;"
                                                readonly>
                                            <div class="autocomplete-suggestions" id="results1"></div>
                                            <!--end form-group-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline11-list shadow-reset mg-t-30">
                        <div class="sparkline11-hd">
                            <div class="main-sparkline11-hd">
                                <h4>Consignee / Receiver Information</h4>
                                <div class="sparkline11-outline-icon">
                                    <span class="sparkline11-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline11-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline11-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="form-control-label">Receiver Company Name</label>
                                        <input type="text" class="form-control" name="receiver_company_name"
                                            value="{{ receiver_company_name }}" style="background-color: antiquewhite;"
                                            readonly>
                                        <label class="form-control-label">Receiver Name<font class="text-danger">**
                                            </font></label>
                                        <input type="text" class="form-control" name="receiver_fullname"
                                            value="{{ receiver_fullname }}" style="background-color: antiquewhite;"
                                            readonly>
                                        <label class="form-control-label">Receiver Phone Number<font
                                                class="text-danger">**</font></label>
                                        <input type="text" class="form-control" name="receiver_phone_number"
                                            value="{{ receiver_phone_number }}" style="background-color: antiquewhite;"
                                            readonly>
                                        <label class="form-control-label">Receiver Email<font class="text-danger">**
                                            </font></label>
                                        <input type="text" class="form-control" name="receiver_email"
                                            value="{{ receiver_email }}" style="background-color: antiquewhite;"
                                            readonly>
                                        <label class="form-control-label">Receiver Tax Id <font color="red">(if Company)
                                            </font></label>
                                        <input type="text" class="form-control" name="receiver_tax_id"
                                            value="{{ receiver_tax_id }}" style="background-color: antiquewhite;"
                                            readonly>
                                        <label class="form-control-label">Receiver Driver Licence <font color="red">(if
                                                Individual)</font>
                                        </label>
                                        <input type="text" class="form-control" name="receiver_driver_licence_number"
                                            value="{{ receiver_driver_lincence_number }}"
                                            style="background-color: antiquewhite;" readonly>
                                        <label class="form-control-label">Receiver Passport No <font color="red">(if
                                                Individual)</font>
                                        </label>
                                        <input type="text" class="form-control" name="receiver_passport_no"
                                            value="{{ receiver_passport_no }}" style="background-color: antiquewhite;"
                                            readonly>
                                        <label class="form-control-label">Receiver Address<font class="text-danger">**
                                            </font></label>
                                        <input type="text" id="address2" class="form-control" name="receiver_address"
                                            value="{{ receiver_address }}" style="background-color: antiquewhite;"
                                            readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="sparkline12-list shadow-reset mg-t-30">
                        <div class="sparkline12-hd">
                            <div class="main-sparkline12-hd">
                                <h4>
                                    <font color="red">{{service_type}} </font> Quoting Details
                                </h4>
                                <div class="sparkline12-outline-icon">
                                    <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline11-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <!-- Quote Reference -->
                                        <label class="form-control-label">Quote Reference</label>
                                        <input type="text" class="form-control" value="{{ quote_reference_number }}"
                                            name="quote_reference_number" style="background-color: antiquewhite;"
                                            readonly>

                                        {% if service_type == 'Ocean Freight' or service_type == 'Customs Brokerage' %}
                                        <!-- Place of Receipt -->
                                        <label class="form-control-label">Place of Receipt</label>
                                        <input type="text" class="form-control" name="place_of_receipt"
                                            value="{{ ocean.place_of_receipt }}" style="background-color: antiquewhite;"
                                            readonly>

                                        <!-- Port of Loading -->
                                        <label class="form-control-label">Port of Loading</label>
                                        <input type="text" id="ocean_port-loading" name="port_of_loading"
                                            value="{{ ocean.port_of_loading }}" readonly class="form-control"
                                            style="background-color: antiquewhite;">
                                        <input type="text" value="Country: {{ ocean.country_of_loading }}"
                                            style="background-color: bisque;" readonly>

                                        <input type="hidden" value="{{ ocean.country_of_loading }}"
                                            style="background-color: bisque;" name="ocean_loading_country">

                                        <!-- Port of Discharge -->
                                        <label class="form-control-label">Port of Discharge</label>
                                        <input type="text" class="form-control" name="port_of_discharge"
                                            value="{{ ocean.port_of_discharge }}"
                                            style="background-color: antiquewhite;">
                                        <input type="text" value="Country: {{ ocean.country_of_discharge }}"
                                            style="background-color: bisque;" readonly>
                                        <input type="hidden" value="{{ ocean.country_of_discharge }}"
                                            name="ocean_discharge_country">

                                        {% if user.is_authenticated and user|has_group:"sales_team" %}
                                        <!-- Sales Team Fields -->
                                        <label class="form-control-label">Container Number <font class="text-danger">**
                                            </font></label>
                                        <input type="text" class="form-control" name="container_number"
                                            placeholder="Container Number" data-validate="min(3),required">

                                        <label class="form-control-label">Vessel Number <font class="text-danger">**
                                            </font></label>
                                        <input type="text" class="form-control" name="vessel_number"
                                            placeholder="Vessel Number" data-validate="min(3),required">
                                        <!-- 
                                        <label class="form-control-label">HS Code</label>
                                        <input type="text" class="form-control" name="hs_code" placeholder="HS Code"
                                            data-validate="min(3),required"> -->

                                        <label class="form-control-label">CERS <font class="text-danger"> min:3 Max:10
                                            </font>
                                        </label>
                                        <input type="text" class="form-control" name="cers" placeholder="CERS"
                                            data-validate="min(3),max(10),required">

                                        <label class="form-control-label">Desired Type of Release: <font
                                                class="text-danger">**</font>
                                        </label>
                                        <select class="form-control" name="desired_type_of_release"
                                            data-validate="required">
                                            <option value=" " selected>Select Desired Type of Release</option>
                                            <option value="Print at Destination">Print at Destination</option>
                                            <option value="Telex">Telex</option>
                                            <option value="Seaway bill">Seaway bill</option>
                                        </select>
                                        {% endif %}

                                        {% elif service_type == 'Air Freight' %}
                                        <!-- Air Freight Fields -->
                                        <label class="form-control-label">Departure</label>
                                        <input type="text" name="departure" value="{{ air.departure }}" readonly
                                            class="form-control" style="background-color: antiquewhite;">
                                        <input type="text" value="Country: {{ air.country_of_departure }}"
                                            style="background-color: bisque;" readonly>

                                        <input type="hidden" value="{{ air.country_of_departure }}"
                                            name="air_departure_country">



                                        <label class="form-control-label">Destination</label>
                                        <input type="text" class="form-control" name="destination"
                                            value="{{ air.destination }}" style="background-color: antiquewhite;">
                                        <input type="text" value="Country: {{ air.country_of_destination }}"
                                            style="background-color: bisque;" readonly>
                                        <input type="hidden" value="{{ air.country_of_destination }}"
                                            name="air_destination_country">

                                        {% elif service_type == 'RORO Freight' %}
                                        <!-- RORO Freight Fields -->
                                        <label class="form-control-label">Pick-Up Address</label>
                                        <input type="text" name="departure" value="{{ roro.vehicle_pickup_address }}"
                                            readonly class="form-control" style="background-color: antiquewhite;">

                                        <label class="form-control-label">Delivery Address</label>
                                        <input type="text" class="form-control" name="destination"
                                            value="{{ roro.vehicle_delivery_address }}"
                                            style="background-color: antiquewhite;">

                                        {% else %}
                                        No Service selected
                                        {% endif %}

                                    </div> <!-- col-lg-12 -->
                                </div> <!-- row -->
                            </div> <!-- input-knob-dial-wrap -->
                        </div> <!-- sparkline11-graph -->

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline13-list shadow-reset mg-t-30">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h4>
                                    More On Quote
                                </h4>
                                <div class="sparkline13-outline-icon">
                                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="input-knob-dial-wrap">

                                <div class="row">
                                    <div class="chosen-select-single mg-b-20" align="left">
                                        <div class="tsbox">
                                            <!-- for Air freight -->
                                            {% if service_type == 'Air Freight' or service_type == 'RORO Freight' %}
                                            <label class="form-control-label"><b>Number of Units</b></label>
                                            <input type="text" value="{{ customer_quoting_details.number_of_units }}"
                                                style="background-color: antiquewhite;" readonly>

                                            {% elif service_type == 'Ocean Freight' %}
                                            <label class="form-control-label"><b>Estimated date of shipment</b></label>
                                            <input type="text"
                                                value="{{ customer_quoting_details.estimated_shipping_date }}"
                                                style="background-color: antiquewhite;" readonly>
                                            <br><br>

                                            {% elif service_type == 'Customs Brokerage' %}
                                            <label class="form-control-label"><b>Estimated date of shipment</b></label>
                                            <input type="text"
                                                value="{{ customer_quoting_details.estimated_shipping_date }}"
                                                style="background-color: antiquewhite;" readonly>
                                            <br><br>

                                            {%elif service_type == 'Ocean Freight'%}
                                            <label class="form-control-label"><b>Equipment size</b></label>
                                            <input type="text" class="form-control" value="{{ ocean.equipment_size }}"
                                                style="background-color: antiquewhite;" readonly>
                                            <br>
                                            {%endif%}
                                            <label class="form-control-label"><b>Do you require Tracking?</b> </label>
                                            <input type="text" value="{{ customer_quoting_details.tracking }}"
                                                style="background-color: antiquewhite;" readonly>
                                            <input type="text"
                                                value="Address: {{ customer_quoting_details.door_delivery_address }}"
                                                style="background-color: bisque;" readonly>
                                            <br>
                                            <label class="form-control-label"><b>Quote Expiry date</b> </label>
                                            <input type="text" value="{{ customer_quoting_details.validity_date }}"
                                                style="background-color: antiquewhite;" readonly>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start commodity category and sub category -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline15-list shadow-reset mg-t-30">
                        <div class="sparkline15-hd">
                            <div class="main-sparkline15-hd">
                                <h4 class="text-danger">
                                    Commodity
                                </h4>
                            </div>
                        </div>
                        <div class="sparkline15-graph">
                            <div class="row">
                                <!-- Main Category -->
                                <div class="col-lg-3">
                                    <div class="touchspin-inner">
                                        <label>Commodity Type</label>
                                        <input type="text" class="commodity-select form-control"
                                            value="{{customer_quoting_details.commodity_cat}}"
                                            style="background-color: antiquewhite;" readonly>
                                    </div>
                                </div>
                                <!-- Sub Category -->
                                <div class="col-lg-3">
                                    <div class="touchspin-inner subCategory">
                                        <label>Commodity Name: </label>
                                        <input type="text" class="subDetails form-control"
                                            value="{{customer_quoting_details.commodity_sub}}"
                                            style="background-color: antiquewhite;" readonly></input>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="touchspin-inner">
                                        <label>Hazardous</label>
                                        <input type="text" class="form-control" name="hazardous"
                                            value="{{ customer_quoting_details.hazardous }}"
                                            style="background-color: antiquewhite;" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end commodity category and sub category -->
            {% if service_type == 'Air Freight' or service_type == 'RORO Freight'%}
            <!-- measurements...Height,Width,Length,Weight -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline15-list shadow-reset mg-t-30">
                        <div class="sparkline15-hd">
                            <div class="main-sparkline15-hd">
                                <h4 class="text-danger">
                                    Package Measurements
                                </h4>
                                <div class="sparkline15-outline-icon">
                                    <span class="sparkline15-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline15-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline15-graph">
                            <div class="row">
                                <!-- Height -->
                                <div class="col-lg-3">
                                    <div class="touchspin-inner">
                                        <label>Height in : &nbsp;<font color="red">
                                                {{customer_quoting_details.unit_of_measurement_L_W_H}}</font></label>
                                        <input class="form-control" type="number"
                                            value="{{customer_quoting_details.height}}"
                                            style="background-color: antiquewhite;" readonly>
                                    </div>
                                </div>
                                <!-- Width -->
                                <div class="col-lg-3">
                                    <div class="touchspin-inner">
                                        <label>Width in : &nbsp;<font color="red">
                                                {{customer_quoting_details.unit_of_measurement_L_W_H}}</font></label>
                                        <input class="form-control" type="number"
                                            value="{{customer_quoting_details.width}}"
                                            style="background-color: antiquewhite;" readonly>
                                    </div>
                                </div>
                                <!-- Length -->
                                <div class="col-lg-3">
                                    <div class="touchspin-inner">
                                        <label>Length in : &nbsp;<font color="red">
                                                {{customer_quoting_details.unit_of_measurement_L_W_H}}</font></label>
                                        <input class="form-control" type="number"
                                            value="{{customer_quoting_details.length}}"
                                            style="background-color: antiquewhite;" readonly>
                                    </div>
                                </div>
                                <!-- Weight -->
                                <div class="col-lg-3">
                                    <div class="touchspin-inner">
                                        <label>Weight in : &nbsp;<font color="red">
                                                {{customer_quoting_details.unit_of_measurement_weight}}</font></label>
                                        <input class="form-control" type="number"
                                            value="{{customer_quoting_details.weight}}"
                                            style="background-color: antiquewhite;" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end measurements...Height,Width,Length,Weight -->
            {%endif%}


            <div class="row">
                <div class="col-lg-6">
                    <div class="sparkline10-list shadow-reset mg-t-30">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h4>
                                    <font color="red">Quote Confirmation:</font>
                                    <font color="blue">Payment required:
                                        <b>{{customer_quoting_details.total_charges}}</b>
                                    </font>
                                    in <font color="blue">{{customer_quoting_details.currency_type}}</font>
                                </h4>
                                Quotation Break-down
                                <div class="sparkline10-outline-icon">
                                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline10-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="chosen-select-single mg-b-20">
                                            <label>Currency Type</label>
                                            <input type="text" class="form-control"
                                                value="{{ customer_quoting_details.currency_type }}"
                                                style="background-color: antiquewhite;" readonly>
                                        </div>
                                        {%if service_type != 'Customs Brokerage' %}
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Freight Charges</label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.freight_charges }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                        {%if service_type == 'Customs Brokerage' %}
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Brokerage Fee</label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.brokerage_fee }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endif%}
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Quote Expire(Validity)</label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.validity_date }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline11-list shadow-reset mg-t-30">
                        <div class="sparkline11-hd">
                            <div class="main-sparkline11-hd">
                                <h4>
                                    <font color=red>Other charges (optional)</font>
                                </h4>
                                Quotation Break-down
                                <div class="sparkline11-outline-icon">
                                    <span class="sparkline11-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline11-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline11-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">

                                        {%if service_type != 'Customs Brokerage' %}
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Fuel SurCharge(FSC) </label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.fuel_surcharge }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Customs Charges </label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.customs_charges }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>

                                        {%elif service_type == 'Customs Brokerage' %}
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Taxes </label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.taxes }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Customs Duties </label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.customs_duties }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                        {%endif%}
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Other Charges </label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ customer_quoting_details.other_charges }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blockchain Payment Details -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="sparkline10-list shadow-reset mg-t-30">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h4>
                                    <font color="red">On-chain Payment Summary </font>
                                    <font color="blue">Total Paid :
                                        <b>{{blockchain_payment_details.paid_amount | floatformat:2}}</b>
                                    </font>
                                    in <font color="blue">{{customer_quoting_details.currency_type}}</font>
                                </h4>
                                <div class="sparkline10-outline-icon">
                                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline10-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="chosen-select-single mg-b-20">
                                            <label>Transaction ID</label>
                                            <input type="text" class="form-control"
                                                value="{{ blockchain_payment_details.transaction_id }}"
                                                style="background-color: antiquewhite;" readonly>
                                        </div>
                                        <div class="chosen-select-single mg-b-20">
                                            <label>Currency Type</label>
                                            <input type="text" class="form-control"
                                                value="{{ customer_quoting_details.currency_type }}"
                                                style="background-color: antiquewhite;" readonly>
                                        </div>
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Paid Amount</label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ blockchain_payment_details.paid_amount | floatformat:2 }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sparkline11-list shadow-reset mg-t-30">
                        <div class="sparkline11-hd">
                            <div class="main-sparkline11-hd">
                                <h4>
                                    <font color=red>Payment Break down</font>
                                </h4>

                                <div class="sparkline11-outline-icon">
                                    <span class="sparkline11-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline11-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline11-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">


                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Initial Payment </label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ blockchain_payment_details.paid_amount | floatformat:2 }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Blockchain Gas Fees</label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ blockchain_payment_details.blockchain_gas_fees | floatformat:6 }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="colorpicker-inner ts-forms mg-b-23">
                                            <div class="tsbox">
                                                <label class="label">Balance </label>
                                                <label class="color-group">
                                                    <input type="text" class="form-control"
                                                        value="{{ blockchain_payment_details.balance | floatformat:2 }}"
                                                        style="background-color: antiquewhite;" readonly>
                                                </label>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End blockchain payment details -->

            <!-- display for Images -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline15-list shadow-reset mg-t-30">
                        <div class="sparkline15-hd">
                            <div class="main-sparkline15-hd">
                                <h4 class="text-danger">
                                    Uploaded Ids, Images, Documents for the Quote
                                </h4>
                            </div>
                        </div>
                        <!-- Start id or photos Listing -->
                        <div id="fileContainer">
                            {% for file in files %}
                            <div style="display:inline-block; margin:10px; text-align:center;">
                                <p>{{ file.name }}</p>

                                <img src="{{ file.url }}" width="200" style="cursor:pointer; border-radius:8px;"
                                    onclick="openModal(this.src)" />
                            </div>
                            {% endfor %}
                        </div>


                    </div>
                </div>
            </div>

            <!--end display for Images -->

            <!-- display for vehichles -->
            <!-- for goods or vehicles -->
            <!-- Cargo Details Table -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline15-list shadow-reset mg-t-30">
                        <div class="sparkline15-hd">
                            <div class="main-sparkline15-hd">
                                <h4>
                                    <font class="text-danger">Cargo Details</font>
                                </h4>
                            </div>
                        </div>

                        <div class="sparkline15-graph">
                            <div class="table-responsive">

                                {% if customer_quoting_details.commodity_sub == 'Vehicles' %}

                                <!-- Vehicles Table -->
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Year</th>
                                            <th>Make / Model</th>
                                            <th>VIN</th>
                                            <th>Cost (CAD)</th>
                                            <th>Color</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vehicle in vehicles %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ vehicle.vehicle_year }}</td>
                                            <td>{{ vehicle.vehicle_make }}</td>
                                            <td>{{ vehicle.vehicle_vin }}</td>
                                            <td>{{ vehicle.vehicle_cost_in_CAD|floatformat:2 }}</td>
                                            <td>{{ vehicle.vehicle_color }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="6" class="text-center text-danger">
                                                No vehicles found
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {% else %}

                                <!-- Goods Table -->
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>QTY</th>
                                            <th>Description</th>
                                            <th>Declared Value (CAD)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in goods %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.goods_quantity }}</td>
                                            <td>{{ item.goods_description }}</td>
                                            <td>{{ item.goods_value_in_CAD|floatformat:2 }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="4" class="text-center text-danger">
                                                No goods found
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end goods or vehicles -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline15-list shadow-reset mg-t-30">
                        <div class="sparkline15-graph">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="touchspin-inner mb-3">


                                        <!-- Submit Button -->
                                        <p align="center">
                                            <button type="submit" class="forgot-password">Convert to Shipment</button>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- Basic Form End-->
</form>


<!-- Table auto addition -->
<script src="{% static 'auto_completion/table_auto_addition.js' %}"></script>

<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>



<!-- Image Modal -->
<div id="imageModal" style="display:none;
            position:fixed;
            top:0; left:0;
            width:100%; height:100%;
            background:rgba(0,0,0,0.8);
            justify-content:center;
            align-items:center;
            z-index:9999;">

    <span onclick="closeModal()" style="position:absolute;
                 top:20px;
                 right:30px;
                 font-size:40px;
                 color:white;
                 cursor:pointer;">
        &times;
    </span>

    <img id="modalImage" style="max-width:90%;
                max-height:90%;
                border-radius:10px;
                box-shadow:0 0 20px black;" />
</div>

<script>
    function openModal(imageSrc) {
        document.getElementById("imageModal").style.display = "flex";
        document.getElementById("modalImage").src = imageSrc;
    }

    function closeModal() {
        document.getElementById("imageModal").style.display = "none";
    }
</script>