{% load group_tags %}
<style>
    /* Blinking Effect */
    .blink {
        animation: blink 1s infinite;
        color: red;
        font-weight: bold;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
</style>
<!-- Static Table Start -->

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h4 class="text-warning">All Shipments </h4>
                            <h4 class="text-muted"><span class="blink">👉 Created Shipments</span> </h4>
                            <div style="
                                background: linear-gradient(135deg, #0d6efd, #0a58ca);
                                color: white;
                                padding: 12px 20px;
                                border-radius: 10px;
                                display: inline-block;
                                font-size: 18px;
                                font-weight: bold;
                                box-shadow: 0 4px 10px rgba(0,0,0,0.15);
                                margin-bottom: 20px;
                            ">
                                🚚 {{ shipments.count }} Shipments Found
                            </div>


                            <!-- load Queries to be worked on -->
                            <div class="view-mail-action view-mail-ov-d-n">

                                <a class="compose-draft-bt" href="javascript:window.print()"><i class="fa fa-print"></i>
                                    Print</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                data-toolbar="#toolbar">
                                <thead>
                                    <tr>

                                        <th>Receiver Company Name</th>
                                        <th>Date and Time Received</th>
                                        <th>Booking Reference Number</th>
                                        <th>Freight Type</th>
                                        <th>Shipment Status</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in shipments %}
                                    <tr>
                                        <td>{{ item.receiver_company_name }}</td>
                                        <td>{{ item.date_received }} &nbsp;{{ item.time_received }}</td>
                                        <td>{{ item.quote_reference_number }}</td>
                                        <td>{{ item.service_type }}</td>
                                        <td>

                                            {% if item.is_current == True %}
                                            <span class="fa fa-truck text-success"> <b>Delivered</b></span>
                                            {% else %}
                                            <span class="text-primary">🚚 In Transit</span>
                                            {% endif %}



                                        </td>
                                        <td>
                                            {% if user|has_group:"ware_house" %}
                                            {% if item.is_current == False %}
                                            <a href="{% url 'shipment_details' item.id %}"
                                                class="btn btn-primary btn-sm">Update Tracking</a>

                                            {% else %}
                                            <a href="#" class="btn btn-success btn-sm">
                                                <i class="fa fa-check"></i> View Shipment
                                            </a>
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">
                                            <font color='red'>No freight records found.</font>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Static Table End -->