<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Pending <span class="table-project-n">Documentations</span> </h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                data-toolbar="#toolbar">
                                <thead>
                                    <tr>

                                        <th data-field="date_received">Date Received</th>
                                        <th data-field="request_id" data-editable="true">Request Id</th>
                                        <th data-field="sender_fullname" data-editable="true">Sender Full name</th>
                                        <th data-field="shipment_date" data-editable="true">Expected Shipment Date</th>
                                        <th data-field="shipment_weight" data-editable="true">Shipment Weight</th>
                                        <th data-field="shipment_type" data-editable="true">Shipment Type</th>
                                        <th data-field="message" data-editable="true">Shipment Description</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for documentation in documentations %}
                                    <tr>
                                        <td>{{documentation.date_received}}</td>
                                        <td>{{documentation.request_id}}</td>
                                        <td>{{documentation.shipper_fullname}}</td>
                                        <td>{{documentation.shipment_date}}</td>
                                        <td>{{documentation.shipment_weight}}</td>
                                        <td>{{documentation.shipment_type}}</td>
                                        <td>{{documentation.message}}</td>
                                        <td>
                                            <a href="{% url 'documentation_view' documentation.id %}"
                                                class="btn btn-primary">View</a>
                                            <a href="{% url 'documentation_update' documentation.id %}"
                                                class="btn btn-success">Update</a>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Static Table End -->