{% load static %}
<center>
  <p><b>Change password</b> </p>
  <form name="update_user_password" class="update_user_password" method="post"
    action="{% url 'update_user_password' %}">
    {% csrf_token %}
    <div class="form-row">

      <div class="form-row">

        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="password" placeholder="Enter New Password" name="new_password" data-validate="required,min(6)" />
        </div>
        <button type="submit" class="forgot-password">Submit</button>
      </div>

    </div>
  </form>
  <br>
  <br>
</center>